<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h2>게시글 상세보기 페이지</h2>
        <form action="/board/modify" method="post">
            <div class="form-group">
                <label>bno</label>
                <input type="text" class="form-control" name="bno" th:value="${dto.bno}"
                       readonly />  //수정불가
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" readonly class="form-control" name="title" th:value="${dto.title}" />
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="content" rows="5" readonly>[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writerName}"
                       readonly/> //수정불가
            </div>
            <div class="form-group">
                <label>RegDate</label>
                <input type="text" class="form-control" th:value="${#temporals
             .format(dto.regDate,'yyyy/MM/dd')}" readonly/>//수정불가
            </div>
            <div class="form-group">
                <label>ModDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd')}" readonly/>//수정불가
            </div>
        </form>
        <a th:href="@{/board/modify(bno=${dto.bno},page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary modifyBtn">수정</button>
        </a>
        <a th:href="@{/board/list(page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
        <button type="button" class="btn btn-primary listBtn">목록</button>
        </a>


    </th:block>
</th:block>
</html>